
.reports-section{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: center;
}
.main-container{
    display: grid;
}
.viz{
    height: 50px;
    background-color: aqua;
    width: 50%;
}