body{
    background-color: bisque;
}

.header{
    background-color: azure;
    margin-top: 45px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
h3{
    text-align: center;
}
.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr;*/

}
.section1>div>input{
    justify-self: start;
    width: 35%;
}
.section1>.drop>select{
    
    justify-self: end;
    width: 50%;
}
.drop{
    
    display: grid;
}
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}
.each-product{
    display: grid;
    grid-template-rows: 3fr 0.5fr 0.5fr;
    background-color: aqua;
}
.each-product>image{
background-color: chartreuse;
}
.each-product>.name{
    background-color: rgb(251, 255, 0);
    text-align: center;
}
.each-product>.details{
    background-color: rgb(82, 70, 252);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
