body{
    background-color: rgb(201, 240, 252);
}
.body
{
    display: grid;
    background-color: rgb(201, 240, 252);
}
.header
{
    text-align: center;
    margin-top: 50px;
    
}
.main-content
{
    display: grid;
    
    align-self: center;
    margin-top: 50px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;

}
.prod_image
{
   display: grid;

}
.prod_image>img{
    margin-top: 10px;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 10px;
    width: 50%;
    justify-self: center;
}
.prod_desc
{
    display: grid; 
    grid-template-rows: 1fr .5fr;
}
.section2{
   margin-top: 0%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

}
.section2>input{
    width: 25%;
    justify-self: center;
}